@media (min-width: 320px) {
  .container {
    width: 100%;
    /* padding-left: 80px;
  padding-right: 80px; */
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.contentWrapper {
  display: flex;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

.arrowIcon {
  justify-content: center;
  margin-right: 5px;
}

.link {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  border: 1px solid black;
  width: 85px;
  padding: 5px;
  border-radius: 10px;
  background-color: darkred;
  margin-top: 20px;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.link:hover,
.arrowIcon:hover {
  background-color: #f00;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.title {
  margin-top: 40px;
  margin-bottom: 67px;
  color: #fff;
  font-size: 34px;
  font-weight: 600;
}

.genresWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}
.genres {
  border-radius: 10px;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px;
}

.releaseDate {
  display: flex;
  align-items: center;
}

.runTime {
  display: flex;
  align-items: center;
}

.calendarIcon {
  margin-right: 10px;
  margin-left: 28px;
}

.userscore {
  display: flex;
  align-items: center;
}

.scoreIcon {
  margin-right: 10px;
  margin-left: 28px;
}

.image {
  border-radius: 10px;
  height: 500px;
  margin: 10px 0px 10px 10px;
}

.overview {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  width: 708px;
  margin-bottom: 44px;
}

.movieInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movieInfoItem {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.additionalInfo {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 10px;
}

.additionalInfoTitle {
  margin-bottom: 10px;
  font-weight: bold;
}

.hd {
  background-color: #f00;
  padding: 5px;
  border-radius: 5px;
}
