@media (min-width: 320px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    margin-top: 20px;
  }

  .arrowIcon {
    justify-content: center;
    margin-right: 5px;
  }

  .link {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    border: 1px solid black;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    background-color: darkred;
    margin-top: 20px;
  }

  .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
  }

  .genresWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
  }

  .image {
    border-radius: 10px;
    width: 100%;
  }

  .genres {
    border-radius: 10px;
    background: #fff;
    color: #000;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 8px;
    text-align: center;
  }

  .runTime,
  .userscore,
  .releaseDate {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 13px;
  }

  .overview {
    color: #fff;
    font-size: 14px;
    line-height: 1.5em;
    width: 100%;
    margin-bottom: 44px;
    text-align: center;
  }

  .movieDataWrapper {
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .movieDataIcon {
    margin-right: 10px;
    font-size: 15px;
  }

  .movieInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .movieInfoItem {
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
  .hd {
    background-color: #f00;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
  }

  .additionalInfoTitle {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 44px 0px;
  }

  .additionalInfo {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    font-size: 14px;
  }

  .additionalInfoSpan {
    background-color: #f00;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .hd {
    background-color: #f00;
    padding: 5px;
    border-radius: 5px;
  }

  .additionalInfoLink {
    color: white;
  }
}

@media (min-width: 320px) {
  .image {
    max-width: 300px;
    margin: 0 auto;
  }

  .overview {
    max-width: 350px;
    margin: 0 auto 44px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .list {
    margin: 0 auto;
  }

  .image {
    width: 400px;
    margin: 0 25px;
  }

  .contentWrapper {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .title {
    margin-top: 15px;
    margin-bottom: 67px;
    text-align: left;
  }

  .list {
    margin: 0px 25px 0px 0px;
  }

  .image {
    margin: 0px 25px 0px 0px;
    max-width: 290px;
  }

  .genres {
    font-size: 11px;
  }

  .movieInfoPcWrapper {
    display: flex;
    margin-bottom: 44px;
  }

  .movieInfoWrapper {
    flex-direction: column;
  }

  .genresWrapper {
    margin: 0;
  }

  .movieDataWrapper {
    margin: 0;
    margin-left: 24px;
    gap: 15px;
  }

  .overview {
    text-align: left;
    margin: 0px 0px 44px 0px;
    max-width: 708px;
    line-height: 2em;
  }
  .movieInfoItem {
    text-align: left;
  }
  .additionalInfoTitle {
    font-size: 22px;
  }
  .additionalInfo {
    font-size: 16px;
  }

  .link:hover,
  .arrowIcon:hover {
    background-color: #f00;
  }
}

.additionalInfoSpan:hover {
  background-color: darkred;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.additionalInfoSpan {
  color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.link {
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@media (min-width: 1440px) {
  .title {
    font-size: 30px;
  }

  .image {
    min-width: 350px;
    margin-right: 40px;
  }

  .genres {
    font-size: 15px;
  }

  .runTime,
  .userscore,
  .releaseDate {
    font-size: 15px;
  }

  .movieDataIcon {
    font-size: 20px;
  }

  .overview {
    font-size: 16px;
  }

  .movieInfoItem {
    font-size: 16px;
  }

  .additionalInfoTitle {
    font-size: 26px;
  }

  .additionalInfo {
    font-size: 20px;
  }
}
