.link:hover {
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.activeLink {
  color: #fff;
  text-decoration: none;
}

.link {
  text-decoration: none;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}
