@media (min-width: 320px) {
  .list {
    list-style-type: none;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .movieInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .image {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .title {
    color: #fff;
    /* font-size: 16px; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .genresList {
    display: flex;
    gap: 10px;
  }

  .genres {
    color: #fff;
    font-size: 11px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #f00;
    padding: 5px;
    border-radius: 5px;
  }
}
@media (min-width: 375px) {
  .image {
    width: 100%;
    height: 420px;
  }
}
@media (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .listItem {
    width: calc((100% - 64px) / 3);
  }

  .image {
    height: 100%;
  }

  .movieInfoWrapper {
    gap: 10px;
    flex-direction: column;
  }

  .genres {
    font-size: 14px;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  .movieInfoWrapper {
    flex-direction: row;
  }
  .listItem {
    width: calc((100% - 64px) / 3);
  }

  .genres {
    white-space: nowrap;
  }
  .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .image {
    height: 100%;
  }
}

@media (min-width: 1440px) {
  .listItem {
    width: calc((100% - 96px) / 4);
  }

  .image {
    height: 450px;
  }
}
