body {
  background: #000;
}

.header {
  margin: 24px 0px 24px 20px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 320px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
